<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.task.mapper">
    <insert id="insertLocations" parameterType="java.util.List">
        insert into tryasometr.v2.current_locations(lon,lat,deviceImei,dateTime) values
        <foreach item="location" collection="list"  separator=",">
          (#{location.lon},#{location.lat},#{location.deviceImei},#{location.dateTime})
        </foreach> 
    </insert>
</mapper>